@model IEnumerable<AspNetMvc_EFCodeFirst.ViewModels.EnrollmentDateGroup>
@{
    ViewBag.Title = "选课统计";
}
<h2>选课统计</h2>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentCount)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.EnrollmentDate)</td>
            <td>@item.StudentCount</td>
        </tr>
    }
</table>
