@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso 大学网课</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>欢迎来到 Contoso大学网课</h2>
        <p>这个简单的应用用于演示如何在ASP.NET MVC5中使用EF6。</p>
    </div>
    <div class="col-md-4">
        <h2>项目构建过程演示</h2>
        <p>可以在MSDN官网中获取项目详细的构建过程</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/zh-cn/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application">学习指导 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>项目GitHub示例下载</h2>
        <p>可以从下面的链接中下载完整示例</p>
        <p><a class="btn btn-default" href="https://github.com/ChuanmingXie/AspNetWeb_Developer/archive/refs/heads/master.zip">下载示例 &raquo;</a></p>
    </div>
</div>