
@{
    ViewBag.Title = "Chapter03";
}
<div class="jumbotron">
    <h2>Chapter03: ASP.NET MVC中搭建微信公众平台</h2>
</div>
<div class="jumbotron">
    <ul>
        <li>@Html.ActionLink("【例3-2】获取access_token", "WeChatAccessToken", new { area = "Chapter03" }, null)</li>
        <li>@Html.ActionLink("【例3-3】获取微信平台IP地址", "WeChatIPAddress", new { area = "Chapter03" }, null)</li>
    </ul>
</div>


