
@{
    ViewBag.Title = "【例3-2】获取access_token - Chapter03";
}

<div class="jumbotron">
    <h2>【例3-2】获取access_token</h2>
</div>
<div class="jumbotron">
    @Html.Label((string)ViewBag.token, new { @class = "control-label" })
</div>

<div>
    @Html.ActionLink("返回列表", "Index");
</div>

