@model List<string>
@{
    ViewBag.Title = "【例3-3】获取微信平台IP地址 - Chapter03";
}
<div class="jumbotron">
    <h2>【例3-3】获取微信平台IP地址</h2>
</div>
<div class="jumbotron">
    <ul>
        @for (int i = 0; i < @Model.Count; i++)
        {
            <li>@Model[i]</li>
        }
    </ul>
</div>

