@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET 是一个免费的Web框架，用于使用HTML，CSS和JavaScript构建出色的网站和Web应用程序。</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">查看详情 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>开始</h2>
        <p>
            ASP.NET MVC 为您提供了一种强大的、基于模式的方式来构建动态网站，从而可以清晰地分离关注点，并让您完全控制标记，从而实现愉快、敏捷的开发。
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">查看详情&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>NuGet 库</h2>
        <p>NuGet 是一个免费的 Visual Studio 扩展，可以轻松地在 Visual Studio 项目中添加、删除和更新库和工具。</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">查看详情&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>虚拟主机</h2>
        <p>您可以轻松找到一家为您的应用程序提供正确功能和价格组合的网络托管公司。</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">查看详情&raquo;</a></p>
    </div>
</div>