@model AspNetMvc_WeChat.Models.People
@{
    ViewBag.Title = "【例2-3】控制器和视图之间传值 - Chapter02";
}

<h2>【例2-3】控制器和视图之间传值</h2>

<br />
<br />

<dl class="dl-horizontal">
    <dt>姓名：</dt>
    <dd>@Model.Name</dd>
    <dt>性别：</dt>
    <dd>@Model.Sex</dd>
    <dt>年龄：</dt>
    <dd>@Model.Age</dd>
</dl>
