@{
    ViewBag.Title = "Chapter02";
}

<h2>Chapter02: ASP.NET MVC开发基础</h2>

<br />
<br />

<ul>
    <li>@Html.ActionLink("【例2-1】", "HelloMvc", new { area = "Chapter02" }, null)</li>
    <li>@Html.ActionLink("【例2-2】", "DesignViewByRazor", new { area = "Chapter02" }, null)</li>
    <li>@Html.ActionLink("【例2-3】", "DataTransferInCV", new { area = "Chapter02" }, null)</li>
</ul>

