
@{
    ViewBag.Title = "【例4-2】查询自定义菜单 - Chapter04";
}
<div class="jumbotron">
    <h2>【例4-2】查询自定义菜单</h2>
</div>

<div class="jumbotron">
    @ViewBag.menuSearch
</div>

<div>
    @Html.ActionLink("返回列表", "index")
</div>