@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>WeChat 公众平台</h1>
    <h2>@*@ViewData["newTitle"]*@</h2>
    @*<h2>@ViewBag.Time</h2>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>开始学习</h2>
        <p>该项目通过在ASP.NET MVC5中构建WeChat公众平台应用程序,对订阅号及相关接口进行调用和学习</p>
    </div>
    <div class="col-md-4">
        <h2>项目构建过程演示</h2>
        <p>可以在MSDN官网中获取项目详细的构建过程</p>
        <p><a class="btn btn-default" href="#">学习指导 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>项目GitHub示例下载</h2>
        <p>可以从下面的链接中下载完整示例</p>
        <p><a class="btn btn-default" href="https://github.com/ChuanmingXie/AspNetWeb_Developer/archive/refs/heads/master.zip">下载示例 &raquo;</a></p>
    </div>
</div>