<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET是一个免费的web框架，用于使用HTML、CSS和JavaScript构建效果极佳的网站和web应用程序。</p>
    <p><a href="#" class="btn btn-primary btn-lg">详细信息</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>开始学习</h2>
        <p></p>
        <p><a href="#" class="btn btn-default"></a></p>
    </div>
    <div class="col-md-4">
        <h2>NuGet库Tools</h2>
        <p></p>
        <p><a href="#" class="btn btn-default"></a></p>
    </div>
    <div class="col-md-4">
        <h2>Web云服务器</h2>
        <p></p>
        <p><a href="#" class="btn btn-default"></a></p>
    </div>
</div>

