
@{
    ViewBag.Title = "Chapter08";
}
<div class="jumbotron">
    <h2>Chapter08：素材管理</h2>
</div>
<div class="jumbotron">
    <ul>
        <li>@Html.ActionLink("【例8-1】新增临时素材", "MediaTemporary", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-2】获取临时素材", "MediaTemporaryGet", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-3】新增永久素材", "MediaPermanent", "Home", new { area = "Chapter08" }, null)</li>
    </ul>
</div>

